<div class="flex justify-between items-center">
  <p class="font-bold text-2xl">Информация о транспорты</p>
  <button mat-icon-button mat-dialog-close>
    <mat-icon aria-label="Close dialog">close</mat-icon>
  </button>
</div>

<mat-tab-group>
  <mat-tab [label]="item.name" *ngFor="let item of data.driverTransports">
    <div class="grid grid-cols-2 gap-4 mt-5">
      <div>
        <p class="text-lg mb-1">Марка Транспорта</p>
        <p class="font-bold">{{item.name}}</p>
      </div>
      <div>
        <p class="text-lg mb-1">Гос. номер</p>
        <p class="font-bold">{{item.stateNumber}} </p>
      </div>

      <div>
        <p class="text-lg mb-1">Тип транспорта</p>
        <p class="font-bold" *ngFor="let type of item.transportTypes">  {{type.name}} </p>
      </div>

      <div>
        <p class="text-lg mb-1">Вид транспорта </p>
        <p class="font-bold" *ngFor="let kind of item.transportKinds">  {{kind.name}} </p>
      </div>
      <div>
        <p class="text-lg mb-1">Вид погрузки </p>
        <p class="font-bold" *ngFor="let method of item.cargoLoadMethods">  {{method.name}} </p>
      </div>
      <div>
        <p class="text-lg mb-1">Объем </p>
        <p class="font-bold">{{item.cubicCapacity  ? item.cubicCapacity+' (m3)' : 'Не указан'}} </p>
      </div>

      <div>
        <p class="text-lg mb-1">Грузоподъемность </p>
        <p class="font-bold">{{item.loadCapacity  ? item.loadCapacity +' (тонна)' : 'Не указан'}} </p>
      </div>

      <div>
        <p class="text-lg mb-1">АДР </p>
        <p class="font-bold">{{item.isAdr ? 'Да':'Нет'}} </p>
      </div>

      
    </div>
    <div class="grid grid-cols-2 gap-3 mt-5 w-full">
      <div class="w-auto" *ngIf="item.techPassportFrontFilePath">
        <mat-label class="font-bold p-2">Тех. паспорт (спереди)</mat-label>
        <div class="relative flex items-center justify-center w-32 h-32 overflow-hidden p-2">
          <ng-container *ngIf="(item.techPassportFrontFilePath | fileFetch | async) as imageUrl; else loading">
            <img class="object-fill w-full h-full" [src]="imageUrl" (load)="isLoading = false" />
          </ng-container>
          <ng-template #loading>
            <div class="absolute inset-0 flex items-center justify-center">
              <mat-spinner diameter="32"></mat-spinner>
            </div>
          </ng-template>
        </div>
      </div>
      <div class="w-auto">
        <mat-label class="font-bold p-2">Тех. паспорт (сзади)</mat-label>
        <div class="relative flex items-center justify-center w-32 h-32 overflow-hidden p-2">
          <ng-container *ngIf="(item.techPassportBackFilePath | fileFetch | async) as imageUrl; else loading">
            <img class="object-fill w-full h-full" [src]="imageUrl" (load)="isLoading = false" />
          </ng-container>
          <ng-template #loading>
            <div class="absolute inset-0 flex items-center justify-center">
              <mat-spinner diameter="32"></mat-spinner>
            </div>
          </ng-template>
        </div>
      </div>
      <div class="w-auto">
        <mat-label class="font-bold p-2">Лицензия на грузоперевозку</mat-label>
        <div class="relative flex items-center justify-center w-32 h-32 overflow-hidden p-2">
          <ng-container *ngIf="(item.goodsTransportationLicenseCardFilePath | fileFetch | async) as imageUrl; else loading">
            <img class="object-fill w-full h-full" [src]="imageUrl" (load)="isLoading = false" />
          </ng-container>
          <ng-template #loading>
            <div class="absolute inset-0 flex items-center justify-center">
              <mat-spinner diameter="32"></mat-spinner>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
    
  </mat-tab>
</mat-tab-group>