.country-selector {
    opacity: 1 !important;
  }
  
  ngx-mat-intl-tel-input div button {
    margin: 4px 0;
  }
  .form-container {
    height: 400px;
    overflow-y: auto;
  }
  .mat-mdc-dialog-container .mdc-dialog__surface {
    max-width: none !important;
}