<div class="flex justify-between items-center">
  <p class="font-bold text-2xl">Редактировать: ID #{{data.id}}</p>
  <button mat-icon-button mat-dialog-close>
    <mat-icon aria-label="Close dialog">close</mat-icon>
  </button>
</div>
<div class="max-w-md mx-auto mt-3">
  <form [formGroup]="form">

    <mat-form-field class="w-full">
      <mat-label>Имя</mat-label>
      <input type="text" formControlName="firstName" matInput>
    </mat-form-field>

    <mat-form-field class="w-full">
      <mat-label>Фамилия</mat-label>
      <input type="text" formControlName="lastName" matInput>
    </mat-form-field>

    <mat-form-field class="w-full">
      <mat-label>Телефон</mat-label>
      <ngx-mat-intl-tel-input [formControlName]="'phoneNumber'" [preferredCountries]="['uz']"
        [onlyCountries]="['uz','kz','tj','kg','ru','af']" name="phoneNumber" #phone>
      </ngx-mat-intl-tel-input>
    </mat-form-field>

    <mat-form-field class="w-full">
      <mat-label>Пароль</mat-label>
      <input matInput type="password" [formControlName]="'password'" #passwordField>
      <button mat-icon-button type="button"
        (click)="passwordField.type === 'password' ? passwordField.type = 'text' : passwordField.type = 'password'"
        matSuffix>
        <mat-icon class="icon-size-5" *ngIf="passwordField.type === 'password'"
          [svgIcon]="'heroicons_solid:eye'"></mat-icon>
        <mat-icon class="icon-size-5" *ngIf="passwordField.type === 'text'"
          [svgIcon]="'heroicons_solid:eye-slash'"></mat-icon>
      </button>
    </mat-form-field>

  </form>
</div>