<div class="flex justify-between">
  <div *ngIf="currentStep == 1"></div>
  <mat-icon *ngIf="currentStep != 1" class="cursor-pointer" (click)="previousStep()"
    svgIcon="heroicons_outline:arrow-long-left"></mat-icon>
  <mat-icon class="cursor-pointer" (click)="closeModal()" svgIcon="heroicons_outline:x-mark"></mat-icon>
</div>

<div class="font-bold text-3xl flex justify-center">
  {{transactionType == 'topupAccount' ? 'Пополнить баланс' : 'Вывод средств'}}
</div>

<mat-dialog-content class="mat-typography m-auto">
  <form [formGroup]="form" class="mt-8 w-full">
    <div>
      <mat-form-field class="flex-auto md:w-72 sm:w-full" *ngIf="transactionType == 'withdrawAccount'">
        <mat-label>Выберите баланс</mat-label>
        <mat-select formControlName="transactionType">
          <mat-option value="withdrawSecureAccount">Баланс безопасной транзакции</mat-option>
          <mat-option value="withdrawAccount">Баланс транзакции</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field class="flex-auto md:w-72 sm:w-full">
        <mat-label>Сумма</mat-label>
        <input type="number" matInput formControlName="amount">
        <mat-select matPrefix formControlName="currencyId">
          <mat-option *ngFor="let currency of currencies" [value]="currency.id">{{currency.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field class="flex-auto md:w-72 sm:w-full">
        <mat-label>Комментарий</mat-label>
        <input matInput formControlName="comment">
      </mat-form-field>
    </div>

  </form>

  <button (click)="create()" [disabled]="loading" class="fuse-mat-button-large dark w-full" mat-flat-button
    [color]="'primary'">
    <span *ngIf="!loading">Отправить запрос</span>
    <mat-progress-spinner *ngIf="loading" [diameter]="24" [mode]="'indeterminate'"></mat-progress-spinner>
  </button>
</mat-dialog-content>